.title-1 {
  color: black;
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 36.4px;
  word-wrap: break-word;
}e-columns: 2fr repeat(3, 3fr) 1fr;
  font-size: 13px;
  font-weight: 700;
  line-height: 120%; /* 15.6px */
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .cart-header {
    height: 1px;
    padding: 0;
  }
  .cart-header > * {
    display: none;
  }
}

.cart-header__title {
  grid-column-start: 2;
}gap: 10px;
  }
}

.product > * {
  align-self: center;
}

.product__img {
  justify-self: center;
}
@media (max-width: 600px) {
  .product__img {
    grid-column: 1/3;
  }
}

@media (max-width: 600px) {
  .product__title {
    grid-column: 3/-1;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .product__count {
    grid-column: 1/3;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .product__price {
    grid-column: 3/6;
  }
}

.product__controls {
  justify-self: center;
}